/* SPDX-FileCopyrightText: 2019 John Irle
*  SPDX-License-Identifier: MIT
*
*  This file is part of Leadership-quote-generator
*/

body {
  padding-top: 70px;
  background: url("./trianglify-lowres.png") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quote-container {
  max-width: 1150px;
}

.quote-card {
  margin-top: 5rem;
  padding: 4rem 2rem;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
}
